---
export const partial = true
---

<div id='start-page'>
  <h4>Press 'Begin' to Play</h4>
  
  <button class='btn' hx-get='/rooms/3rd-floor-start' hx-target='#start-page'>
    Begin
  </button>
</div>