---
export const partial = true
const playerId = Astro.cookies.get('playerId')?.value
console.log(playerId)
---

<div id='game-start'>
  <h1>3rd floor - Derelict Office Space</h1>
  <a href='/'>Surrender</a>
</div>